.home-section-baner{
    color:rgb(255, 17, 0);
    text-align: center;
    height: 200px;
   margin-top:45px; 
   border: 1px solid red;

   .row{
       height: 100%;
   }

   .kol{
       border:1px solid blue;
   }

   h1{
       color:blue;
   }
}