section{
    overflow: hidden;
}
.my-navbar{
    background: $color-white;
    height: 100px;
    padding: 0;

    .title-column{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        background: $color-white;

        .title{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-direction: row;
            background: $color-white;
            width: 100%;
            transition: all 0.5s;
            padding-left: 50px;
            padding-right: 50px;

            i{
                margin-right: 2.5rem;
                color:$color-gray;
                font-size: 2.5rem;
                cursor: pointer;
            }

            h1{
                color:$color-black;
                font-size: 2.5rem;
                margin-bottom: -2px;
            }

            .my-button{
                background: $color-black;
                margin-left: auto;
                outline: none;
                border: none;
                padding: 12px;
                border-radius: 5%;
                text-transform: uppercase;
                font-weight: bold;

                i{
                    font-size: 1.5rem;
                    color: $color-white;
                }
                span{
                    color: $color-white;
                    font-size: 1.5rem;
                }
            }
        }

    }

    
}

.main{
    background: darken($color-white,5%);
    height: 700px;
 #column-for-offset{
    transition: all 0.5s;
 }

    .left-pane{
        width: 90%;
        height: 70%;
        padding: 10px;
        margin: 10px;
        background:$color-black;
        border: 1px solid gray;
        border-radius: 5px;
        color:$color-white
    }

    .right-pane{
        width: 90%;
        height: 70%;
        padding: 10px;
        margin: 10px;
        background:$color-black;
        border: 1px solid gray;
        border-radius: 5px;
        color:$color-white
    }
}

.sidebar-closed{
    width: 250px;
    height: 800px;
    background:$color-black;
    position: absolute;
    top: 10px;
    left:-250px;
    border-radius: 2%;
    z-index: 100;
    transition: all 0.5s;
   
    .brand{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background:$color-purple;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .text-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 40px;
            margin-left: 10px;
            p{
                margin: 0px;
                color: $color-white;
                font-size: 1.2rem;
                text-transform: uppercase;

                &:last-of-type{
                    font-weight: bold;
                }
            }
        }
    }

    .list{
        list-style: none;
       .active{
           font-weight: bold;
       }
        li{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: $color-black;
            height: 50px;
            text-transform: uppercase;
            color: $color-gray;
            font-size: 1.2rem;

            i{
                margin: 0 15px 0 15px;
                font-size: 1.5rem;
            }

            &:hover{
                background: darken($color-black,20%);
                color: $color-white;
                a{
                    color: $color-white;
                }
            }

            a{
                text-decoration: none;
                color: $color-gray;
                padding: 0;
            }

            .msg-num{
                background:$color-red;
                font-weight: bold;
                padding: 0px 8px 0px 8px;
                border-radius: 20px;
                margin-left: 40px;
            }
        }
    }

    .progress-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background:$color-black;
        width: 100%;
        height: 300px;

            .c100{
                border-color: $color-red ;

                span:first-of-type {
                    color:  $color-white;
                    font-weight: 700;
                    background: $color-black;
                    &:hover{
                        color:  $color-red;
                    }
                }
                .fill{
                    border-color: $color-red ;
                    z-index: 100;
                }
           

                .slice{
                    border-color: $color-red ;
                    z-index: 100;
                }
                .bar{
                    border-color: $color-red ;
                    z-index: 100;
                }

            }
      
   

    

    }
}

.sidebar-open{

    transition: all 0.5s;
    transition-delay: 0.2s;
    left:0px;
    z-index: 100;
}

.title-open{
    transition: all 0.5s;
    padding-left: 300px !important;
}

.drop-li{
    position: relative;
    transition: all 0.5s;
  

    &:hover .drop-menu{
        display: block;
        transition: all 0.5s;
        opacity: 1;
        width: 200px;
       
    }

    .drop-menu{
        transition: all 0.5s;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 100%;
        width: 0px;
        z-index: 90;

        li{
            padding-left: 20px;
        }
      
    }
}

