/* Base Styles -------------------- */
    
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
  
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: $color-back;
}
/* 
////////////////PRE SET/////////////////////////// */