//Custom variables

// Descriptive color variables
$color-gray:rgb(170, 170, 170);
$color-back:#f2f2f2;
$color-green:#0cc00c;
$color-red:#c21633;
// Functional color variables

// Font stacks

// Asset paths
// $path-image   :   '../img';
// $path-fonts     :  '../fonts';
