//Custom variables

// Descriptive color variables
$color-gray:rgb(170, 170, 170);
$color-body:rgb(83, 83, 83);
$color-white:#f2f2f2;
$color-green:#0cc00c;
$color-red:#c21633;
$color-black: rgb(54, 53, 53);
$color-purple: rgb(185, 74, 219);
// Functional color variables

// Font stacks

// Asset paths
// $path-image   :   '../img';
// $path-fonts     :  '../fonts';
